@model Blog.IDAL.Repository.Passage.Dto.Passage.PassageDto
@{
    ViewData["Title"] = "WritePassage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>写文章</h2>
@{
    using (Html.BeginForm())
    {
        <div class="btn-group pull-right" >
            <button class="btn btn-primary btn-lg" asp-controller="Passage" asp-action="WritePassage">保存</button>
            <button class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">回主页</button>
        </div>
        <div style="width:100%">
        <div class="form-group" style="width:100%">
            @Html.LabelFor(m=>m.Title)
            @Html.TextBoxFor(m=>m.Title,new { @class="form-control",placeholder="输入标题"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control",placeholder="输入描述" })
        </div>

        <div class="form-group">
                @Html.LabelFor(t => t.Content)
                @Html.TextAreaFor(t => t.Content, new { id = "htmlcode",style = "display:none" })
            </div>
            <textarea id="text-input" oninput="this.editer.update()" style="width:50%;height:768px; background:#CBEFD9;font-size:22px;"></textarea>
                    <div id="preview" style="float:right;width:50%;height:100%; border:0.5px solid #315;background:#e6e6e6;"></div>
            </div>
   }
}
<script src="~/js/markdown/markdown.js"></script>
<script src="~/js/Parser.js"></script>


<script type="text/javascript">
    function Editor(input, preview,htmlcode) {
        this.update = function () {
            preview.innerHTML = markdown.toHTML(input.value);
            htmlcode.innerHTML = markdown.toHTML(input.value);
        };
        input.editer = this
        this.update()
    }
    var $ = function (id) {
        return document.getElementById(id)
    }
    new Editor($("text-input"), $("preview"), $("htmlcode"))


</script>


